project         = "infra-123456"
public_key_path = "~/.ssh/appuser.pub"
disk_image      = "reddit-base"
private_key     = "~/.ssh/appuser"
app_name        = "reddit-app"
my_ip           = ["9.9.9.9/32"]
##Test
